@import "theme";
@import "break-points";


#pageHeader{
  position: fixed;
  width: 100vw;
  z-index: 1;

}
.headerContainer{
  width: 90%;
  margin: 0px auto;
}
#headerTop{
  padding: 40px 0px;


}
.logo{
  width: auto;
  height: 24px;
  background: url("../images/logo.png") no-repeat left;

}
.button{
  position:absolute;
  z-index: 99999;
  width: 44px;
  height: 44px;
  top: 32px;
  right: 5%;
  border-radius: 50%;
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $lg){
    display: none;
  }

}
.line{
  background-color: #fff;
  width: 18px;
  height: 3px;
  transition: all 0.3s;
}

.line + .line{
  margin-top: 3px;
}
input:checked {
  + label{
    .line{
      margin-left: 3px;
      transform-origin: left center;

      transform: rotate(42deg);
      transition: all 0.3s;
    }

    .line + .line{
      margin-top: 9px;
      margin-left: 3px;
      transform-origin: left center;
      transform: rotate( -42deg );
    }

    #middleLine{
    display: none;
  }
  }
  + ul#headerMenu{
    display: block;
  }
}

#headerMenu{
  display: none;
  @media screen and (min-width: $lg){
    display: block;
    text-align: right;
    line-height: 24px;
    li{
      color: rgba(255, 255, 255, 0.75);
      font-size: 13px;
      font-weight: 700;
      margin-left: 40px;
      text-transform: uppercase;
      display: inline;
    }
  }
}
#mobileMenu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 101;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  li{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;

  }
}
