@import "break-points";

#works{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}
.work-box{
  display: block;
  border: 0.5px solid #fff;
  height: 350px;
  width: 100%;
  @media screen and (min-width: $md){
    width: 50%;
  }
  @media screen and (min-width: $lg){
    width: 25%;
  }

}
.work-box:hover{
  content: "TEAM PROJECT";
  box-shadow:inset 0 0 0 2000px rgba(232, 69, 69, 0.85);

}
#work1{
  background: url("../images/work-1.jpg") no-repeat center;
}
#work2{
  background: url("../images/work-2.jpg") no-repeat center;
}
#work3{
  background: url("../images/work-3.jpg") no-repeat center;
}
#work4{
  background: url("../images/work-4.jpg") no-repeat center;
}
#work5{
  background: url("../images/work-5.jpg") no-repeat center;
}
#work6{
  background: url("../images/work-6.jpg") no-repeat center;
}
#work7{
  background: url("../images/work-7.jpg") no-repeat center;
}
#work8{
  background: url("../images/work-8.jpg") no-repeat center;
}