@import "break-points";

#works{
  padding-top: 25px;
  border-top: 75px solid #fff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}
.work-box{
  display: block;
  position: relative;
  overflow: hidden;
  border: 0.5px solid #fff;
  height: 350px;
  width: 100%;
  @media screen and (min-width: $md){
    width: 50%;
  }
  @media screen and (min-width: $lg){
    width: 25%;
  }
}
.work-box:hover{
  background-size: auto 500px !important;
  box-shadow:inset 0 0 0 2000px rgba(232, 69, 69, 0.85);

}




#work1{
  background: url("../images/work-1.jpg") no-repeat left;
}
#work2{
  background: url("../images/work-2.jpg") no-repeat left;
}
#work3{
  background: url("../images/work-3.jpg") no-repeat left;
}
#work4{
  background: url("../images/work-4.jpg") no-repeat left;
}
#work5{
  background: url("../images/work-5.jpg") no-repeat left;
}
#work6{
  background: url("../images/work-6.jpg") no-repeat left;
}
#work7{
  background: url("../images/work-7.jpg") no-repeat left;
}
#work8{
  background: url("../images/work-8.jpg") no-repeat left;
}


