@import "theme";


.personInfo{
  margin: 20px auto 0;
  max-width: 270px;
  text-align: center;
  @media screen and (min-width: $xl){
    text-align: left;
  }
  ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li{
      margin-bottom: 5px;
    }

    .teamSocial {
      display: block;
      border: 1px solid #e8ecee;
      border-radius: 2px;
      height: 40px;
      width: 40px;
      color: #c6cacc;
      font-size: 18px;
      line-height: 40px;
      margin-right: 5px;
      text-align: center;
    }

    .teamSocial:hover, .teamSocial:active {
      border-color: $accent-color;
      background-color: $accent-color;
      color: #fff;
    }
  }




}

.name{
  margin: 10px 0;
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  font-family: "Raleway", sans-serif;

}

.position{
  margin: 10px 0 20px;
  color: $accent-color;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.info{
  display: block;
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}




